<a href="https://colab.research.google.com/gist/BurhanYerebakan/5fefa2cd38ef3ed604f1fb625c525e27/pandas-python-library-for-beginners-in-data-science.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# IMPORT LIBRARIES

import numpy as np
import pandas as pd

In [ ]:
# CREATING SERIES 

# Method 1: Using an Array 

s = ([1, np.nan, ' Pandas Library '])
s1 = pd.Series(s)
s1

0                   1
1                 NaN
2     Pandas Library
dtype: object

In [ ]:
# Create a Pandas Series, named s2.
# Use the array, named s2, containing the following: 
# •	Integer = 2
# •	Nan value
# •	Character = b

s2 = np.array([2, np.nan, 'b'])
s2 = pd.Series(s2)
s2

0      2
1    nan
2      b
dtype: object

In [ ]:
# Method 2: Using a List
list1 = ['animal', '2', 'animal']
s3 = pd.Series(list1)
s3

0    animal
1         2
2    animal
dtype: object

In [ ]:
# Create a Pandas Series, named s4.
# Use a list, named list2, containing the following: 
# •	Integer = 3
# •	Character = c
# •	String = Numpy
# Note: 'N' Must be capital

list2 = ['3', 'c', 'Numpy']
s4 = pd.Series(list2)
s4

0        3
1        c
2    Numpy
dtype: object

In [ ]:
# Method 3: Using a Dictionary

s5 = pd.Series(
    
{'A': 1,
 '3': 'Python',
 })
s5

A         1
3    Python
dtype: object

In [ ]:
# Create a Pandas Series, named s6, containing the following: 
# •	'Integer' = 3
# •	'B' = Boys
s6 = pd.Series({'Integer': 3, 'B': 'Boys'})
s6

Integer       3
B          Boys
dtype: object

In [ ]:
# CREATING DATA FRAMES

# Method 1: Passing a Numpy Array

df = pd.DataFrame(np.random.randn(6,4))
df

          0         1         2         3
0 -0.447076 -1.572481  1.526240 -1.092132
1  0.069642  0.905363 -0.599072  0.732349
2  0.114220  0.857244  0.503279  0.096256
3 -1.233715  1.652943 -1.651242  0.553883
4 -0.394832  0.366075 -1.387644 -2.415996
5 -0.658390  1.887574  1.587769 -0.907939

In [ ]:
# Creat a data frame, named df1, which contains: 
# •	A randomly generated array with the dimensions 3x3

df1 = pd.DataFrame(np.random.randn(3,3))
df1

          0         1         2
0  1.909885 -2.368226  0.437556
1 -2.633105 -0.382292  1.621620
2 -1.607050 -0.357042  1.197037

In [ ]:
# Method 2: Passing a Dictionary of Objects 

df2 = pd.DataFrame({'A':1, 'number': np.array([6]*3, dtype='int32'),})
df2

   A  number
0  1       6
1  1       6
2  1       6

In [ ]:
# Create a data frame, named df3, which contains:
# •	'E' = np.array([4]*5,dtype='int32')
# • 'Day' = 2

df3 = pd.DataFrame({'E': np.array([4]*5, dtype='int32'), 'Day': 2})
df3

   E  Day
0  4    2
1  4    2
2  4    2
3  4    2
4  4    2

In [3]:
# IMPORTING FILES
# .csv files

# Use file path /content/input.csv
import pandas as pd
df4 = pd.read_csv('/content/input.csv')
df4.head(4)

    A   B    C   D
0   3   4  5.0 NaN
1  12   4  NaN NaN
2   6   2  4.0 NaN
3   6  24  1.0 NaN

In [ ]:
# Import the file 'example_2.json' in the dataframe df5
# Use the file path /content/example_2.json 

df5 = pd.read_json('/content/example_2.json')
df5.head(4)

                                                    quiz
maths  {'q1': {'question': '5 + 7 = ?', 'options': ['...
sport  {'q1': {'question': 'Which one is correct team...

In [ ]:
# Importing files from a url 
# Import data from this github repo: https://raw.githubusercontent.com/BurhanYerebakan/Input/main/input.csv)

df6 = pd.read_csv('https://raw.githubusercontent.com/BurhanYerebakan/Input/main/input.csv')
df6.head(4)

    A   B    C   D
0   3   4  5.0 NaN
1  12   4  NaN NaN
2   6   2  4.0 NaN
3   6  24  1.0 NaN

In [ ]:
# Create the dataframe df7 

# Then, import data from this github repo: "https://raw.githubusercontent.com/BurhanYerebakan/example2/main/example_2.json")
import pandas as pd
df7 = pd.read_json('https://raw.githubusercontent.com/BurhanYerebakan/example2/main/example_2.json')
df7.head(4)

                                                    quiz
maths  {'q1': {'question': '5 + 7 = ?', 'options': ['...
sport  {'q1': {'question': 'Which one is correct team...

In [8]:
# EXPORTING FILES
# .csv files
# Use file path: /content/input.csv
import pandas as pd
df4 = pd.read_csv('/content/input.csv')
df4.to_csv('/content/flightsLAX.csv')

In [9]:
# Export the data in df4, to 'example_2.json'
# Use the file path: /content/example_2.json
import pandas as pd
df4 = pd.read_csv('/content/input.csv')
df4.to_json('/content/example_2.json')

In [10]:
# DATA SUMMARY

df6 = pd.read_csv('https://raw.githubusercontent.com/BurhanYerebakan/input/main/input.csv')
df6

    A   B    C     D
0   3   4  5.0   NaN
1  12   4  NaN   NaN
2   6   2  4.0   NaN
3   6  24  1.0   NaN
4   8   3  7.0   NaN
5  98   3  4.0   5.5
6  12   9  9.0  12.4

In [11]:
# Quick Summary of Data
df6.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7 entries, 0 to 6
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   A       7 non-null      int64
 1   B       7 non-null      int64
 2   C       6 non-null      float64
 3   D       2 non-null      float64
dtypes: float64(2), int64(2)
memory usage: 352.0 bytes

In [12]:
# Detailed Summary of Data
df6.describe()

               A         B        C          D
count   7.000000   7.00000  6.00000   2.000000
mean   20.714286   7.00000  5.00000   8.950000
std    34.237963   7.83156  2.75681   4.879037
min     3.000000   2.00000  1.00000   5.500000
25%     6.000000   3.00000  4.00000   7.225000
50%     8.000000   4.00000  4.50000   8.950000
75%    12.000000   6.50000  6.50000  10.675000
max    98.000000  24.00000  9.00000  12.400000

In [15]:
# View Columns

df6.columns

Index(['A', 'B', 'C', 'D'], dtype='object')

In [16]:
# View the columns in df7
df7 = pd.read_json('https://raw.githubusercontent.com/BurhanYerebakan/example2/main/example_2.json')
df7.columns

Index(['quiz'], dtype='object')

In [17]:
# View Datatypes
df6.dtypes

A      int64
B      int64
C    float64
D    float64
dtype: object

In [18]:
df7.dtypes

quiz    object
dtype: object

In [19]:
# HANDLING DUPLICATES

# Detect Duplicate Rows

df6.duplicated()

0    False
1    False
2    False
3    False
4    False
5    False
6    False
dtype: bool

In [20]:
df6.drop_duplicates

<bound method DataFrame.drop_duplicates of     A   B    C     D
0   3   4  5.0   NaN
1  12   4  NaN   NaN
2   6   2  4.0   NaN
3   6  24  1.0   NaN
4   8   3  7.0   NaN
5  98   3  4.0   5.5
6  12   9  9.0  12.4>

In [27]:
# HANDLING MISSING VALUES

# Detect Missing Values

print(df6.isnull().sum())

A    0
B    0
C    1
D    5
dtype: int64

In [28]:
# Drop Missing Values

df6.dropna()

    A  B    C     D
5  98  3  4.0   5.5
6  12  9  9.0  12.4

In [30]:
print(df7.isnull().sum())

quiz    0
dtype: int64

In [31]:
df7.dropna()

                                                    quiz
maths  {'q1': {'question': '5 + 7 = ?', 'options': ['...
sport  {'q1': {'question': 'Which one is correct team...

In [33]:
# NUMERIC OPERATIONS 

import numpy as np
import pandas as pd
df8 = pd.DataFrame(np.random.randn(6,4))
df8

          0         1         2         3
0 -0.911665  0.167527  1.599176 -0.827027
1 -0.311273  0.150151  0.517611  1.573053
2  1.190963  0.105083  0.228786 -0.963813
3  0.274736 -0.090309 -0.044106 -0.648337
4 -0.471211 -0.944106  0.430169  0.915523
5 -0.519992 -0.738763  0.488425  0.728425

In [34]:
# Calculate the Mean:
df8.mean()

0   -0.124740
1   -0.225069
2    0.536677
3    0.129637
dtype: float64

In [35]:
df9 = pd.DataFrame(np.random.randn(3,4))
df9

          0         1         2         3
0  0.225639 -0.005951  0.280668  0.383510
1  0.001194  0.888152  1.439383 -1.528954
2 -0.607152  0.387466 -2.269644 -1.931873

In [36]:
df9.mean()

0   -0.126773
1    0.423222
2   -0.183197
3   -1.025772
dtype: float64

In [37]:
# Calculate the Cumulative Sum: 

df8.apply(np.cumsum)

          0         1         2         3
0 -0.911665  0.167527  1.599176 -0.827027
1 -1.222938  0.317678  2.116786  0.746026
2 -0.031975  0.422762  2.345572 -0.217787
3  0.242761  0.332452  2.301466 -0.866124
4 -0.228450 -0.611654  2.731635  0.049399
5 -0.748442 -1.350417  3.220059  0.777823

In [38]:
df9.apply(np.cumsum)

          0         1         2         3
0  0.225639 -0.005951  0.280668  0.383510
1  0.226833  0.882201  1.720051 -1.145444
2 -0.380319  1.269667 -0.549592 -3.077316

In [39]:
# Find the Max Value: 

df8.max()

0    1.190963
1    0.167527
2    1.599176
3    1.573053
dtype: float64

In [40]:
df9.max()

0    0.225639
1    0.888152
2    1.439383
3    0.383510
dtype: float64

In [41]:
# Find the Minimum Value:

df8.min()

0   -0.911665
1   -0.944106
2   -0.044106
3   -0.963813
dtype: float64

In [42]:
df9.min()

0   -0.607152
1   -0.005951
2   -2.269644
3   -1.931873
dtype: float64

In [45]:
# STRING MANIPULATION
s7 = np.array(['animal', 'bird', 'Pandas Library'])
s7 = pd.Series(s7)
s7

0            animal
1              bird
2    Pandas Library
dtype: object

In [46]:
# Convert to Lower Case
s7.str.lower()

0            animal
1              bird
2    pandas library
dtype: object

In [47]:
s8 = np.array(['cat', 'dog', 'Python Programming'])
s8 = pd.Series(s8)
s8

0                   cat
1                   dog
2    Python Programming
dtype: object

In [48]:
s8.str.lower()

0                   cat
1                   dog
2    python programming
dtype: object

In [49]:
# Convert to Upper Case
s7.str.upper()

0            ANIMAL
1              BIRD
2    PANDAS LIBRARY
dtype: object

In [50]:
s8.str.upper()

0                   CAT
1                   DOG
2    PYTHON PROGRAMMING
dtype: object

In [51]:
# Swap Capitalization 

s7.str.swapcase()

0            ANIMAL
1              BIRD
2    pANDAS lIBRARY
dtype: object

In [52]:
s8.str.swapcase()

0                   CAT
1                   DOG
2    pYTHON pROGRAMMING
dtype: object

In [53]:
# Find Length of String

s7.str.len()

0     6
1     4
2    14
dtype: int64

In [54]:
s8.str.len()

0     3
1     3
2    18
dtype: int64

In [55]:
# Split String
s7.str.split()

0             [animal]
1               [bird]
2    [Pandas, Library]
dtype: object

In [56]:
s8.str.len()

0     3
1     3
2    18
dtype: int64

In [57]:
# Detect Unique Values

s7.unique()

array(['animal', 'bird', 'Pandas Library'], dtype=object)

In [58]:
s8.unique()

array(['cat', 'dog', 'Python Programming'], dtype=object)

In [60]:
# Repeat String
s7 = np.array(['animal', 'bird', 'Pandas Library'])
s7 = pd.Series(s7)
s7

0            animal
1              bird
2    Pandas Library
dtype: object

In [61]:
repeat_list = [2, 3, 2]
s7.str.repeat(repeat_list)

0                    animalanimal
1                    birdbirdbird
2    Pandas LibraryPandas Library
dtype: object

In [62]:
s8 = np.array(['cat', 'dog', 'Python Programming'])
s8 = pd.Series(s8)
s8

0                   cat
1                   dog
2    Python Programming
dtype: object

In [64]:
repeat_list = [1,2,3]
s8.str.repeat(repeat_list)

0                                                  cat
1                                               dogdog
2    Python ProgrammingPython ProgrammingPython Pro...
dtype: object